.about {
	display: flex;

	.about-me-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: red;
		width: 50%;

		p {
			text-align: center;
		}
	}

	.about-me-pic {
		width: 100%;

		img {
			height: auto;
			width: 100%;
			border-radius: 10%;
		}
	}
}
