header {
	display: flex;
	justify-content: space-between;

	img {
		height: auto;
		width: 50%;
		border-radius: 10%;
	}

	nav {
		width: 50%;
		align-content: space-between;

		a {
			text-decoration: none;
			text-align: center;
			font-size: 2.2rem;
		}
	}
}
